<p id="notice"><%= notice %></p>

<h2 class="mt-5">Denuncia Virtual</h2>

<div class="table-responsive">
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Tipo de delito</th>
      <th scope="col">Barrio</th>
      <th scope="col">Informe los hechos</th>
      <% if current_user && current_user.admin %>
      <th scope="col">Denunciante</th>
      <th scope="col" colspan="3"></th>
       <% end %>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.text %></td>
        <% if current_user && current_user.admin %>
        <td><%= post.user.firstname %> <br> <%= post.user.email %></td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if current_user && current_user.admin %>
<div class="text-center mt-2">
<%= link_to 'Nueva Denuncia', new_post_path, :class => 'btn btn-primary' %>
</div>
<% end %>