
<div class="alert alert-primary alert-dismissible fade show" role="alert">
	<i class="fab fa-connectdevelop" style="color:#004085;">&nbsp;</i> 
	Mi Zona es un proyecto creado por tres desarrolladores y un diseñador con tiempo muy limitado.
	<a href="https://github.com/TalentoBogotaFedesoft/UAC-104-grupo-2" target="_blank" class="alert-link">Conocer más en <i class="fab fa-github" style="color:#004085;">&nbsp;</i></a>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="text-center">
	
	<img src="/assets/mizona.gif" class="img-fluid" style="margin-top: 35px;">
	
	 <div class="container">
          <h1 class="jumbotron-heading">Seguridad Ciudadana</h1>
          <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium mollis sapien, id efficitur lorem. Integer viverra dignissim</p>
          <p>
          	<% if current_user %>
	          	<%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, :class => 'btn btn-secondary my-2' %>
          	<% else	%>
	          	<%= link_to 'Ingresar', new_user_session_path, :class => 'btn btn-primary my-2' %>
	           	<%= link_to 'Registrarse', new_user_registration_path, :class => 'btn btn-secondary my-2' %>
          	<% end %>
          	
           		<%= link_to 'Posts', posts_path, :class => 'btn btn-danger my-2' %>
          </p>
          <% if current_user && current_user.admin %>
        <p>Bienvenido admin <%= @post.user.username %> (o^^)o </p>
        <% end %>
        </div>
</div>