<h1>Contacts#new</h1>
<p>Find me in app/views/contacts/new.html.erb</p>

<%= form_for @contact do |f| %>
	<div class="container-input">
		<%= f.label :name, 'Nombre y Apellidos' %> <br>
		<%= f.text_field :name, required: true %>
	</div>
	<div class="container-input">
		<%= f.label :email, 'Correo electrónico' %> <br>
		<%= f.text_field :email, required: true %>
	</div>
	<div class="container-input">
		<%= f.label :message, 'Mensaje' %> <br>
		<%= f.text_field :message, required: true %>
	</div>
	<div class="hidden-field">
		<%= f.label :nickname %>
		<%= f.text_field :nickname, hint: 'Dejese este campo en blanco' %>
	</div>
	<div class="container-input">
		<%= f.submit 'Enviar mensaje' %>
	</div>

<% end %>
